@import url("Transparency.css");
@import url("WindowButtons.css");
@import url("AeroTweakChromeBorderConnect.css");
@import url("Tooltips.css");

@supports (-moz-bool-pref("userChromes.ChromiumFX.HiDPI"))
{
    :root
    {
        --aero-padding: 8px;
        --aero-border: 1px;
        --aero-top-padding-windowed-menu: 4px;
        --aero-top-padding-windowed: 24px;
        --aero-top-padding-maximized: 12px;
    }
}

@supports not (-moz-bool-pref("userChromes.ChromiumFX.HiDPI"))
{
    :root
    {
        --aero-padding: 5px;
        --aero-border: 1px;
        --aero-top-padding-windowed-menu: 4px;
        --aero-top-padding-windowed: 16px;
        --aero-top-padding-maximized: 12px;
    }
}

/* { */

#main-window
{
    min-width: 400px !important;
    min-height: 151px !important;
    width: 100% !important;
    height: 100% !important;
}

/* Aero outer and inner borders */
/* System theme, not maximized, tabs in titlebar */
#main-window[tabsintitlebar][sizemode="normal"]
{
    width: calc(100% - calc(var(--aero-padding) * 2) - calc(var(--aero-border) * 2)) !important;
    height: calc(100% - var(--aero-padding) - calc(var(--aero-border) * 2)) !important;
    border: var(--aero-border) solid black !important;
    outline: var(--aero-border) solid rgba(255, 255, 255, 0.7) !important;
    outline-offset: calc(0px - (var(--aero-border) * 2)) !important;
    outline-radius: 7px !important;
    border-radius: 7px !important;
    padding-left: var(--aero-padding) !important;
    padding-right: var(--aero-padding) !important;
    padding-bottom: var(--aero-padding) !important;
    padding-top: 0px !important;
}
    :root[tabsintitlebar][sizemode="normal"] #browser,
    :root[tabsintitlebar][sizemode="normal"] #customization-container
    {
        border-image-slice: 2 2 2 2 !important;
        border-image-width: 2px 2px 2px 2px !important;
        border-image-outset: 0px 0px 0px 0px !important;
        border-image-repeat: repeat repeat !important;
        border-image-source: url("../Assets/aero-inner-border-no-top.png") !important;
        border-style: solid !important;
        border-width: 2px !important;
        border-top: none !important;
    }

    :root[tabsintitlebar][sizemode="normal"] #customization-container
    {
        background-color: transparent !important;
    }

    :root[tabsintitlebar][sizemode="normal"] #customization-content-container,
    :root[tabsintitlebar][sizemode="normal"] #customization-footer
    {
        background-color: color-mix(in srgb, -moz-dialog 85%, white);
    }



/* Aero Background Glow */
:root:not(:-moz-lwtheme,:-moz-window-inactive)[sizemode="normal"][tabsintitlebar]
{
    background-image:
        url("../Assets/sideglow_left.png"),
        url("../Assets/sideglow_right.png"),
        url("../Assets/sidebar.png"),
        url("../Assets/sidebar.png")
        !important;
    background-repeat:
        no-repeat,
        no-repeat,
        no-repeat,
        no-repeat
        !important;
    background-position:
        top 0px left 0px,
        top 0px right 0px,
        top 50px left 0px,
        top 50px right 0px
        !important;
    background-size:
        auto,
        auto,
        calc(var(--aero-padding) + 2px) 18vh,
        calc(var(--aero-padding) + 2px) 18vh
        !important;
}
:root:-moz-window-inactive:not(:-moz-lwtheme)[sizemode="normal"][tabsintitlebar]
{
    background-image:
        url("../Assets/sidebar_unfocus.png"),
        url("../Assets/sidebar_unfocus.png")
        !important;
    background-repeat:
        no-repeat,
        no-repeat
        !important;
    background-position:
        top 50px left 0px,
        top 50px right 0px
        !important;
    background-size:
        calc(var(--aero-padding) + 2px) 18vh,
        calc(var(--aero-padding) + 2px) 18vh
        !important;
}


    :root[tabsintitlebar][sizemode="normal"] #TabsToolbar
    {
        padding-block-start: var(--windowed-top-padding, 0px) !important;
    }

    :root[tabsintitlebar][sizemode="normal"] #toolbar-menubar + #TabsToolbar
    {
        --windowed-top-padding: var(--aero-top-padding-windowed-menu);
    }

    :root[tabsintitlebar][sizemode="normal"] #toolbar-menubar[inactive="true"] + #TabsToolbar
    {
        --windowed-top-padding: var(--aero-top-padding-windowed);
    }

    :root[tabsintitlebar][sizemode="normal"] #nav-bar
    {
        margin-left: 1px;
        margin-right: 1px;
    }



    :root[tabsintitlebar][sizemode="maximized"] #TabsToolbar
    {
        padding-block-start: var(--windowed-top-padding, 0px) !important;
    }

    :root[tabsintitlebar][sizemode="maximized"] #toolbar-menubar + #TabsToolbar
    {
        --windowed-top-padding: var(--aero-top-padding-maximized);
    }

    :root[tabsintitlebar][sizemode="maximized"] #toolbar-menubar[inactive="true"] + #TabsToolbar
    {
        --windowed-top-padding: var(--aero-top-padding-maximized);
    }

    :root[tabsintitlebar][sizemode="maximized"] #nav-bar
    {
        margin-left: 1px;
        margin-right: 1px;
    }

/* Menubar text */
#main-menubar
{
    color: white !important;
    text-shadow: black 0px 0px 8px !important;
}


.menubar-text
{
    font-size: var(--font-size-root) !important;
}
/* } */
