#main-window
{
    background-color: transparent !important;
    appearance: none !important;
    background-image: none !important;
}

#navigator-toolbox
{
    background-color: transparent !important;
    background-image: none !important;
}

#navigator-toolbox-background
{
    background-color: transparent !important;
    appearance: none !important;
    background-image: none !important;
}
