#identity-box                            { order: 0 !important; }
.urlbar-input-box                        { order: 1 !important; }
#page-action-buttons                     { order: 2 !important; }
#tracking-protection-icon-container      { order: 3 !important; }
#urlbar-go-button                        { order: 4 !important; }
#reader-mode-button                      { display: none !important; }
#pageAction-urlbar-_testpilot-containers { display: none !important; }
#userContext-icons                       { display: none !important; }
